:root {
}

.unity-progress-bar__title {
    display: none;
}

.unity-progress-bar__progress {
    width: 84%;
    height: 31px;
    top: 118%;
    margin-top: -14px;
    margin-right: -14px;
    margin-bottom: -14px;
    margin-left: -14px;
    left: 3%;
    -unity-background-image-tint-color: rgb(0, 225, 215);
    background-color: rgb(0, 234, 218);
}
