:root {
}

.ButtonsNav {
    flex-shrink: 0;
    width: 39%;
    margin-top: 13%;
    visibility: visible;
    display: flex;
    flex-direction: row;
    -unity-font-definition: url("project://database/Assets/Fonts/Quantico-Regular%20SDF.asset?fileID=11400000&guid=9accaec8dcdca784db5dd46021d0c915&type=2#Quantico-Regular SDF");
    background-color: rgba(0, 147, 160, 0.16);
    border-top-width: 13px;
    border-left-width: 13px;
    border-bottom-width: 13px;
    border-right-width: 13px;
    border-top-color: rgb(3, 195, 233);
    border-left-color: rgb(3, 195, 233);
    border-right-color: rgb(3, 195, 233);
    border-bottom-color: rgb(3, 195, 233);
    border-top-left-radius: 72px;
    border-bottom-left-radius: 72px;
    border-top-right-radius: 72px;
    border-bottom-right-radius: 72px;
    background-image: none;
    top: 0%;
    left: 58%;
    right: 0%;
    bottom: 0%;
    color: rgb(0, 255, 173);
    height: 21%;
    font-size: 50px;
    -unity-font-style: bold;
    text-shadow: 4px 4px 0 rgb(0, 255, 173);
    min-width: 2px;
}
