:root {
}

.ButtonsNav {
    flex-shrink: 0;
    width: 98px;
    margin-top: 9px;
    visibility: visible;
    display: flex;
    flex-direction: row;
    -unity-font-definition: resource("FlatSkin/Font/Roboto-ThinItalic");
    background-color: rgba(0, 0, 0, 0.69);
    border-top-width: 4px;
    border-left-width: 4px;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-top-color: rgb(3, 195, 233);
    border-left-color: rgb(3, 195, 233);
    border-right-color: rgb(3, 195, 233);
    border-bottom-color: rgb(3, 195, 233);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
